
body 
{
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} */

table, th {
padding: 0.5rem 0.5rem 0.5rem 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 0.6875rem;
    line-height: 1;
    font-weight: normal;
    text-align: left;
    vertical-align: bottom;
}

.button {
    display: inline-block;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
  }

.xs-col-12
{
    width: 100%;
}

 .partlist
{
    width: 100%;
}


div
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
